<h2><%= @user.name %></h2>
<h2><%= @user.email %></h2>
<div class="col-md-8">
    <% if @user.events.any? %>
      <h3>Events (<%= @user.events.count %>)</h3>
      <ol class="events">
        <%= render 'event_created' %>
      </ol>
    <% end %>
  </div>