<% if logged_in? %>
	  (Logged in: <%= current_user.name %>)
	 
	<% end %>
	<h1>User Profile</h1>
	
	<% @user.events.each do |event| %>
      <p> Name: <%= event.name %> </p>
	  <p> Description: <%= event.description %> </p>
	<% end %> 